.section-name{
  font-family: $magra;
}
.img-cont{
  width: 15% ;
}


.content{
  margin-top: 20px;
}

.section_name-textt{
  margin-top: 20px;
  margin-left: 10px;
  line-height: 2px;
}

.section-name__text{
  font-size: $medium;
  font-weight: $bold;
}

.section-name__text-light{
  font-size: $small;
  font-weight:$li;
  color: $grey;
}
