section{
  font-family: $magra;
}


.section__videos-text{
      text-align: center;

  }

 .section__title{
   font-weight: $bold;
   font-size: $medium;
 }
 .section__text{
   font-size: $small;
   font-weight: $li;
   color: $grey;
 }
